/* Defining variables*/
:root{
    --black: color;
}

/* Resetting default margin on the body */
body {
    margin: 0;
}

/* Styling for the background image container */
.image-wrapper {
    position: relative; /* Positioned relative to its normal position */
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Full viewport height */
    background: url("images/istockphoto-1445758593-1024x1024.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    animation: expand-fade-in cubic-bezier(1,0,1,1) 1.5s;
    -webkit-animation: expand-fade-in 1.5s ease-out;
    -ms-animation: expand-fade-in 1.5s ease-out;
    -moz-animation: expand-fade-in 1.5s ease-out;
    -o-animation: expand-fade-in 1.5s ease-out;
    animation-fill-mode: both;
}

/* Styling for the main title */
.title {
    font-size: 4em;
    text-transform: uppercase;
    margin: 0;
    font-family: Sen;
    text-align: center;
    animation: fade-in-out 4s ease-out 2s;
    -webkit-animation: fade-in-out 4s ease-out 2s;
    -ms-animation: fade-in-out 4s ease-out 2s;
    -moz-animation: fade-in-out 4s ease-out 2s;
    -o-animation: fade-in-out 4s ease-out 2s;
    animation-fill-mode: both;

}

/* Styling for the scroll text with fade-in animation */
.scroll-text {
    font-size: 1.5em;
    margin: 20px 0;
    color: var(--black); /*calling the variable from the root*/
    text-align: center;
    opacity: 0;
    position: absolute;
    position: absolute; /* Positioning absolute for centering */
    top: 50%; /* Align to the vertical center */
    left: 50%; /* Align to the horizontal center */
    transform: translate(-50%, -50%); /* Centering the text*/
    animation: fade-in 1s ease-out 6s forwards; /* Delayed appearance after title and stays visible */
    -webkit-animation: fade-in 1s ease-out 6s forwards;
    -ms-animation: fade-in 1s ease-out 6s forwards;
    -moz-animation: fade-in 1s ease-out 6s forwards;
    -o-animation: fade-in 1s ease-out 6s forwards;
}

/* Styling for the boxes */
.box {
    position: relative; /* Positioned relative to its normal position */
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Sen;
    font-weight: bold;
    cursor: pointer;
    opacity: 1; 
    animation: fade-in 1s ease-out 7s; /* Delay the appearance of boxes after the text disappears */
    -webkit-animation: fade-in 1s ease-out 7s;
    -ms-animation: fade-in 1s ease-out 7s;
    -moz-animation: fade-in 1s ease-out 7s;
    -o-animation: fade-in 1s ease-out 7s;
    animation-fill-mode: both;
   
}

/* Styling for the red box */
.red {
    background-color: red;
}

/* Hover effect for the red box */
.red:hover {
    background-color: violet;
    color: yellow;
    width: 150px;
    height: 150px;
    font-size: 25px;
    letter-spacing: 5px;
}

/* Styling for the blue box with a growing animation */
.blue {
     background-color: blue; 
     border: 1px solid black;
     animation: grow 2s ease-out 12s 4 alternate;
     -webkit-animation: grow 2s ease-out 12s 4 alternate;
     -ms-animation: grow 2s ease-out 12s 4 alternate;
     -moz-animation: grow 2s ease-out 12s 4 alternate;
     -o-animation: grow 2s ease-out 12s 4 alternate;
    }

/* Hover effect for the blue box */
.blue:hover {
background-color: aqua;
color:gray;
}

/* /* Styling for the green box with a ease-out animation */
.green {
     background-color: green; 
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%); /*Moves the box to the centre*/
     border: 1px solid black;
     animation: transform 4s ease-out 21s 4 alternate;
     -webkit-animation: transform 4s ease-out 21s 4 alternate;
     -ms-animation: transform 4s ease-out 21s 4 alternate;
     -moz-animation:transform 4s ease-out 21s 4 alternate;
     -o-animation: transform 4s ease-out 21s 4 alternate;

}

/* Hover effect for the green box */
.green:hover {
    background-color: rgb(34, 230, 44);
    color:gray;
    }

/* Styling for the yellow box with a continuous left-to-right movement animation */
.yellow { 
    background-color: yellow;
    animation: moveLeftToRight 4s linear 35s 8 alternate; 
    -webkit-animation: moveLeftToRight 4s linear 35s 8 alternate;
    -ms-animation: moveLeftToRight 4s linear 35s 8 alternate;
    -moz-animation: moveLeftToRight 4s linear 35s 8 alternate;
    -o-animation: moveLeftToRight 4s linear 35s 8 alternate;
}

/* Hover effect for the yellow box */
.yellow:hover {
    background-color: orange;
    color:gray;
}

/* Keyframes for the expand and fade-in animation */
@keyframes expand-fade-in {
    from { opacity: 0%; width: 0%; }
    to { opacity: 100%; width: 100%; }
}

/* Keyframes for the fade-in and fade-out animation */
@keyframes fade-in-out {
    0%, 100% { opacity: 0%; }
    50% { opacity: 100%; }
}

/* Keyframes for the fade-in animation */
@keyframes fade-in {
    from { opacity: 0; }
    to { opacity: 1; }
}

/* Keyframes for the growing animation */
@keyframes grow {
    0% {width: 100px; height: 100px; background: blue;}
    25% {width: 120px; height: 120px; background:lightblue;}
    50% {width: 140px; height: 140px; background:rgb(216, 16, 166);}
    75% {width: 160px; height: 160px; background:rgb(100, 29, 79);}
    100% {width: 180px; height: 180px; background:indigo;}
}

/* Keyframes for the transformation animation */
@keyframes transform {
    0% {width: 200px; height: 200px;}
    100% {transform: scale(0.5,0.5) rotate(45deg) translate(50px,0px) skew(100deg);}
}


/* Keyframes for the continuous left-to-right movement animation */
@keyframes moveLeftToRight {
    0% { left: 0; }
    100% { left: calc(100% - 100px); } 
}
